/*Global Styles*/
html,body {
    margin: 0;
    height: 100%;
    /* overflow: hidden; */
    font-family: 'Ubuntu', sans-serif;
    background: rgb(18, 0, 34);
}
div {
    box-sizing: border-box;
}
a, a:visited, a:active {
    color: inherit;
}
a:hover {
    /* color: rgb(255, 195, 92); */
    color: rgb(189, 123, 255);
}
.btn {
    border-radius: 0;
}
.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}
.container {
    height: 100%;
    display: flex;
}

/* Special */
#special-correction {
    display: none;
    position: absolute;
    color: rgb(18, 0, 34);
    font-size: 2em;
    height: 100%;
    width: 100%;
    background: rgb(189, 123, 255);
    font-family: 'Ubuntu', sans-serif;
}
#special-welcome {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#special-username {
    padding: 20px;
    font-size: 0.5em;
    font-family: 'Ubuntu', sans-serif;
}
#special-username:focus {
    outline: none;
}
#special-username-taken {
    color: red;
}
/*Mobile responsive styles*/