@media (max-width: 767px){
    .mobile-show {
        display: block !important;
    }
    #left-ggroup {
        width: 100%;
    }
    #left-group {
        width: 100%;
    }
    #chat-ggroup {
        position: absolute;
        height: 100%;
        display: none;
    }
}