#users {
    list-style-type: none;
    padding: 0;
}

#users li {
    padding: 5px;
}

.welcoming {
    color: lightgray;
}

.usersArea {
    padding-top: 20px;
    color: blanchedalmond;
    
}

.currentUser {
    color: darkblue;
    font-weight:bold;
}

#chat-messages{
    color: lightblue;
}