/*Right side styles (Chat)*/


.chat-group {
    /* border-left: 1px solid rgb(189, 123, 255); */
    height: 100%;
    /* width: 350px; */
    width: 100%;
    background: rgb(0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#chat-group-header {
    /* border-left: 1px solid rgb(189, 123, 255); */
    background: rgb(0,0,0);
    width: 100%;
}
#chat-friend {
    font-weight: 700;
    width: 100%;
    height: 70px;
    padding: 0 0 0 20px;
    color: white;
    font-size: 1.2em;
    /* border-bottom: 1px solid rgb(189, 123, 255); */
    background: rgb(37, 0, 73);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#chat-call-friend {
    height: 70px;
    width: 70px;
    /* border-left: 1px solid rgb(189, 123, 255);
    border-bottom: 1px solid rgb(189, 123, 255); */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#chat-call-friend:hover {
    background: rgb(86, 0, 172);
}
#chat-call-friend:active {
    background: rgb(67, 0, 134);
}
.chat-area {
    background: rgb(230,230,230);
    margin: 0;
    padding: 10px 0;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    word-wrap: break-word;
}
#chat-field {
    width: 100%;
    display: flex;
}
#chat-messages {
    list-style-type: none;
    margin: 0;
    padding: 0 30px;
    height: auto;
}
.chat-message {
    min-width: 150px;
    /* max-width: 200px; */
    max-width: 80%;
    margin: 5px 0;
    padding: 10px;
    /* border: 1px solid rgb(150,150,150); */
    background: white;
    color: black;
    border-radius: 10px;
    display: block;
    clear: both;
}
.chat-message-username {
    color: yellow;
    font-weight:700;
}
.chat-message-friend {
    color: rgb(98, 0, 202);
    font-weight:700;
}
.chat-message-sent {
    background: rgb(98, 0, 202);
    color: white;
    float: left;
}
.chat-message-read {
    float: left;
}
.chat-message-unread {
    float: left;
    background: rgb(255, 191, 123);
}
#input-field {
    border: none;
    width: 100%;
    padding: 10px;
    /* height: 20px; */
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
#input-field:focus {
    outline: none;
}
.chat-area::-webkit-scrollbar {
    width: 12px;
}
.chat-area::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);  */
}
.chat-area::-webkit-scrollbar-thumb {
    /* background: linear-gradient(to left, rgb(231, 143, 0),orange); */
    background: rgb(37, 0, 73);
}
.chat-area::-webkit-scrollbar-thumb:active {
    /* background: linear-gradient(to left, rgb(231, 143, 0),orange); */
    background: rgb(98, 0, 202);
}

.chat-field-hidden {
    display: none;
}
#datasend {
    color: white;
    font-weight: 700;
    background: rgb(37, 0, 73);
    border: none;
}
#datasend:focus {
    outline: none;
}
#datasend:hover {
    background: rgb(86, 0, 172);
}
#datasend:active {
    background: rgb(67, 0, 134);
}

#typing {
    margin-top:2px;
    font-size:10px;
    color:white;
}
.localCaption {
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
}
.remoteCaption {
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
}