/*Right side styles (Video & Chat)*/
#right-group {
    /* background: red; */
    flex: 1 1 auto;
    height: 100%;
    display: flex;
}

.chat-group {
    border-left: 1px solid rgb(189, 123, 255);
    height: 100%;
    width: 350px;
    background: rgb(0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.chat-area {
    background: rgb(230,230,230);
    margin: 0;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    word-wrap: break-word;
}
#chat-field {
    width: 100%;
    display: flex;
}
#chat-messages {
    list-style-type: none;
    margin: 0;
    padding: 0 30px;
    height: auto;
}
.chat-message {
    min-width: 100px;
    max-width: 200px;
    /* max-width: 80%; */
    margin: 5px 0;
    padding: 10px;
    border: 1px solid rgb(150,150,150);
    background: white;
    color: black;
    border-radius: 10px;
    display: block;
    clear: both;
}
.chat-message-username {
    color: red;
}
.chat-message-friend {
    color: blue;
}
.chat-message-sent {
    background: rgb(174, 255, 174);
    float: left;
}
.chat-message-read {
    float: left;
}
.chat-message-unread {
    float: left;
    background: rgb(255, 191, 123);
}
#input-field {
    width: 100%;
    padding: 10px;
    /* height: 20px; */
    /* text-decoration: none; */
    font-family: 'Ubuntu', sans-serif;    
}
#input-field:focus {
    outline: none;
}
.chat-area::-webkit-scrollbar {
    width: 12px;
}
.chat-area::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);  */
}
.chat-area::-webkit-scrollbar-thumb {
    /* background: linear-gradient(to left, rgb(231, 143, 0),orange); */
    background: rgb(105,105,105);
}

#typing {
    margin-top:2px;
    font-size:10px;
    color:white;
    }