/*Left side styles (Dashboard & Friendslist)*/
#left-group {
    background: rgb(18, 0, 34);
    /* width: 20%;
    max-width: 200px; */
    width: 300px;
    height: 100%;
    /* border-right: 1px solid rgb(189, 123, 255); */
    text-align:center;
}
.control-header {
    font-weight: 700;
    width: 100%;
    height: 70px;
    padding: 0 5px 0 5px;
    color: white;
    font-size: 1.2em;
    /* border-bottom: 1px solid rgb(189, 123, 255); */
    /* background: rgb(18, 0, 34); */
    background: rgb(18, 0, 34);
    display: flex;
    justify-content: center;
    align-items: center;
}
#control-user-search{
    width: 100%;
    /* border: 1px solid black; */
}
#control-search-form{
    /* border: 1px solid white; */
    /* border-top: 1px solid rgb(189, 123, 255); */
    display: flex;
    justify-content: flex-end;
}
#control-search-field {
    background: rgb(37, 0, 73);
    color: white;
    width: 100%;
    padding: 5px;
    border: 0px;
}
#control-search-field::-webkit-input-placeholder {
    color: rgba(189, 123, 255, 0.8);
}
#control-search-field:focus {
    outline: none;
}
#control-search-button {
    background: rgb(37, 0, 73);
    width: 33px;
    height: 33px;
    color: rgba(189, 123, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
#control-search-display {
    height: 33px;
    padding: 0 5px 0 5px;
    color: white;
    /* border-bottom: rgb(189, 123, 255); */
    background: rgb(18, 0, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.control-friend-button-group {
    height: 20px;
    width: 45px;
    display: flex;
    justify-content: space-around;

}
.control-friend-add,.control-friend-message,.control-friend-delete {
    height: 20px;
    width: 20px;
    /* border: 1px solid rgb(189, 123, 255); */
    color: rgb(189, 123, 255);
}
.control-friend-add:hover,.control-friend-message:hover,.control-friend-delete:hover{
    /* border: 1px solid white; */
    color: white;
    background: rgb(35, 0, 68);
}
.control-friend-message-unread { /* Unread messages */
    color: greenyellow;
    /* border: 1px solid greenyellow; */
    animation: flash 0.6s 3;
}
@keyframes flash {
    0% {
        color: white;
        /* border: 1px solid white; */
        transform: scale(1);
    }
    50% {
        color: greenyellow;
        /* border: 1px solid greenyellow; */
        transform: scale(1.2);
    }
    100% {
        color: white;
        /* border: 1px solid white; */
        transform: scale(1);
    }
}
.control-friend-added,.control-friend-message-no{
    height: 20px;
    width: 20px;
    color: rgb(18, 0, 34);
    background: rgb(82, 0, 163);
    border: 1px solid rgb(82, 0, 163);
}

/* Control Friends list styles */
#control-friends-group {
    /* border-top: 1px solid rgb(189, 123, 255); */
    /* border-bottom: 1px solid rgb(123, 169, 255); */
}
#control-friends-list,#control-friends-pending-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#control-friends-list{
    height: 200px;
    overflow-y: auto;
}
#control-friends-list::-webkit-scrollbar {
    width: 12px;
}
#control-friends-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); 
    background: transparent;
}
#control-friends-list::-webkit-scrollbar-thumb {
    background: linear-gradient(to left, rgb(189, 123, 255),rgb(189,123,255));
}
.control-friend,.control-group {
    height: 50px;
    padding: 0 5px 0 10px;
    color: rgb(189, 123, 255);
    /* border-top: 1px solid rgb(189, 123, 255); */
    /* border-bottom: 1px solid rgb(189, 123, 255); */
    /* background: rgb(18, 0, 34); */
    background: linear-gradient(to bottom right,rgb(18, 0, 34),rgb(22, 0, 40));
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.control-friend-online {
    color:greenyellow;
}
.control-friend-offline {
    color: red;
}
.control-friend-pending {
    color: rgb(0, 255, 255);
}
/* .control-friendlist-delete {
    height: 20px;
    width: 20px;
    border: 1px solid rgb(189, 123, 255);
}
.control-friendlist-delete:hover {
    border: 1px solid rgb(255, 195, 92);
    color: rgb(255, 195, 92);
    background: rgb(80, 51, 0);
} */
/* Group Chat styles */
#control-groupchat-group {
    /* border-top: 1px solid rgb(123, 169, 255); */
    /* border-bottom: 1px solid rgb(123, 169, 255); */
}
#control-groupchat-list/*,#control-friends-pending-list*/ {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#control-groupchat-list{
    height: 100px;
    overflow-y: auto;
}
#control-groupchat-list::-webkit-scrollbar {
    width: 12px;
}
#control-groupchat-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); 
    background: transparent;
}
#control-groupchat-list::-webkit-scrollbar-thumb {
    background: linear-gradient(to left, rgb(123, 169, 255),rgb(123, 169, 255));
}

.control-group {
    height: 33px;
    padding: 0 5px 0 5px;
    color: rgb(123, 169, 255);
    /* border-top: 1px solid rgb(189, 123, 255); */
    /* border-bottom: 1px solid rgb(123, 169, 255); */
    /* background: rgb(18, 0, 34); */
    /* background: linear-gradient(to bottom right,rgb(18, 0, 34),rgb(0, 7, 68)); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.control-group-message,.control-group-delete {
    height: 20px;
    width: 20px;
    /* border: 1px solid rgb(123, 169, 255); */
    color: rgb(123, 169, 255);
}
.control-group-message:hover,.control-group-delete:hover {
    /* border: 1px solid white; */
    color: white;
    background: rgb(0, 7, 68);
}

/*Control Group Improvement*/
.control-message-highlighted {
    background: rgb(37, 0, 73);
}