html,body {
    margin: 0;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(67, 0, 134);
}
.white-strip {
    width: 100%;
    height: 70px;
    padding: 14px;
    background-color: white;
    border-bottom: rgb(227,227,227);
    color:rgb(121,121,121);
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}
.slogan {
    font-family: 'Raleway', sans-serif;
    font-size:30px;
    margin-left:26vw;
    font-family: 'Abel', sans-serif;
}
.content-box {
    background-color: white;
    margin:0;
    padding:4px 70px;
    text-align: center;
    
}

.signupFor {
    /* float:left; */
    color: darkslategrey;
    margin-bottom:2vh;
    font-family: 'Alegreya Sans', sans-serif;
    font-size:3vw;
    clear: both;
}
.first {
    margin-left:2vw;
    /* margin-top:0vh; */
    height: 40px;
    width: 100px;
    display: inline;
    float:right;
    font-family:'Alegreya Sans', sans-serif;
    font-size:16px;
    white-space: normal;
    }

.second {
    background-color: rgb(67, 0, 134);
    color:white;
    border-color: rgb(67, 0, 134);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.third {
    background-color: white;
    color:rgb(67, 0, 134);
    border-color: rgb(67, 0, 134);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.field-red{
    border-color:red;
}

@media screen and (max-width: 830px) {
    /* .first {
        margin-left:2vw;
        margin-top:0.3vh;
        width:13vw;
        height:6vh;
        display: inline;
        float:right;
        font-family:'Alegreya Sans', sans-serif;
        font-size:16px;
        white-space: normal;
    } */
}
@media screen and (max-width: 687px) {
    /* .first {
        margin-left:2vw;
        margin-top:0.3vh;
        padding-top:1vh;
        width:13vw;
        height:6vh;
        display: inline;
        float:right;
        font-family:'Alegreya Sans', sans-serif;
        font-size:14px;
        white-space: normal;
    } */
}
@media screen and (max-width: 616px) {
    /* .first {
        margin-left:2vw;
        margin-top:0.3vh;
        padding-top:1.3vh;
        width:13vw;
        height:6vh;
        display: inline;
        float:right;
        font-family:'Alegreya Sans', sans-serif;
        font-size:13px;
        white-space: normal;
    } */
    }
@media screen and (max-width: 555px) {
    /* .first {
        margin-left:2vw;
        margin-top:0.3vh;
        padding-top:1.3vh;
        padding-left:1vw;
        padding-right:1vw;
        width:13vw;
        height:6vh;
        display: inline;
        float:right;
        font-family:'Alegreya Sans', sans-serif;
        font-size:13px;
        white-space: normal;
    } */
}
@media screen and (max-width: 529px) {
    /* .first {
        margin-left:2vw;
        margin-top:0.3vh;
        padding-top:1.4vh;
        padding-left:1vw;
        padding-right:1vw;
        width:14vw;
        height:6vh;
        display: inline;
        float:right;
        font-family:'Alegreya Sans', sans-serif;
        font-size:13px;
        white-space: normal;
    } */
}
@media screen and (max-width: 491px) {
    /* .first {
        margin-left:2vw;
        margin-top:0.3vh;
        padding-top:1.4vh;
        padding-left:1vw;
        padding-right:1vw;
        width:16vw;
        height:6vh;
        display: inline;
        float:right;
        font-family:'Alegreya Sans', sans-serif;
        font-size:13px;
        white-space: normal;
    } */
}
@media screen and (max-width: 430px) {
    /* .first {
        margin-left:2vw;
        margin-top:0.3vh;
        padding-top:1.6vh;
        padding-left:2vw;
        width:16vw;
        height:6vh;
        display: inline;
        float:right;
        font-family:'Alegreya Sans', sans-serif;
        font-size:13px;
        white-space: normal;
    } */
}
@media screen and (max-width: 403px) {
    /* .first {
        margin-left:2vw;
        margin-top:0.3vh;
        padding-top:1.4vh;
        padding-left:1vw;
        padding-right:1vw;
        width:17vw;
        height:6vh;
        display: inline;
        float:right;
        font-family:'Alegreya Sans', sans-serif;
        font-size:13px;
        white-space: normal;
    } */
}
.second:hover {
    background-color: white;
    color:rgb(67, 0, 134);
    border-color: rgb(67, 0, 134);
}
.third:hover {
    background-color: rgb(67, 0, 134);
    color:white;
    border-color: rgb(67, 0, 134);
}

.white-box {
    background-color: white;
    max-width: 700px;
    margin : 120px auto;
    padding: 60px 20px;
    border-radius: 15px;
    
}
@media screen and (max-width: 593px) {
    .white-box {
        padding: 20px;
    }
    .signupFor {
        margin-left:15px;
    }
    
}

#divider {
    margin-top:4vh;
}
hr {
    margin-left:auto;
    margin-right:auto;
    width:40%;
}
#lefthr {
    float:left;
}
#righthr {
    float:right;
}
.social {
    width:250px;
    height:45px;
    margin:0 auto;
    padding:7px 6px;
    font-size:20px;
    margin-bottom:2vh;
    font-family: 'Abel', sans-serif;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
/* .social.fb {
    margin-top:75px;
} */
.fa-facebook-official {
    margin-top:3px;
}
.fa-google-plus {
    margin-top:3px;
}
@media screen and (max-width: 889px) {
    .social {
        width:28vw;
        font-size:18px;
    } */
    .signupFor {
        font-size:3vw;
    }
}
@media screen and (max-width: 812px) {
    /* .social {
        width:28vw;
        font-size:17px;
        padding:12.3px 6px;
    } */
    .content-box {
        padding:20px 50px; 
        text-align: center;
    }
    .signupFor {
        font-size:3vw;
    }
}
@media screen and (max-width: 768px) {
    /* .social {
        width:28vw;
        font-size:15px;
        padding:12.3px 6px;
        height:7vh;
    } */
    .content-box {
        padding:20px 40px; 
    }
    .whitebox {
        padding: 0px;
        margin :20vh 0vw;
    }
    .signupFor {
        font-size:4vw;
    }
}
@media screen and (max-width: 671px) {
    /* .social {
        width:28vw;
        font-size:13px;
        padding:12.3px 6px;
        height:7vh;
    } */
    .content-box {
        padding:20px 30px; 
    }
    .whitebox {
        padding: 0px;
        margin :20vh 0vw;
    }
    .signupFor {
        font-size:5vw;
    }
}
@media screen and (max-width: 592px) {
    /* .social {
        width:28vw;
        font-size:14px;
        padding:12.3px 0px;
        height:7vh;
    } */
    .content-box {
        padding:20px 0px; 
    }
    .whitebox {
        padding: 0px;
        margin :20vh 0vw;
    }    
    .signupFor {
        font-size:6vw;
    }
}
@media screen and (max-width: 567px) {
    /* .social {
        width:28vw;
        font-size:14px;
        padding:12.3px 0px;
        height:7vh;
    } */
    .content-box {
        padding:20px 0px; 
    }
    .whitebox {
        padding: 0px;
        margin :20vh 0vw;
    }
    .signupFor {
        font-size:6vw;
    }
}
@media screen and (max-width: 567px) {
    /* .social {
        width:28vw;
        font-size:14px;
        padding:12.3px 0px;
        height:7vh;
    } */
    .signupFor {
        font-size:6vw;
    }
}
@media screen and (max-width: 441px) {
    /* .social {
        width:35vw;
        font-size:14px;
        padding:12.3px 0px;
        height:7vh;
    } */
    .signupFor {
        font-size:7vw;
    }
}
@media screen and (max-width: 332px) {
    .slogan {
        font-size:20px;
        margin-top:8px;
    }
    .second {
        font-size:12px;
    }
}
.fb {
    background-color:white;
    color:rgb(59,88,152);
    border-color:rgb(32,65,137);
}

.fb:hover {
    background-color: rgb(59,88,152);
}

.google {
    background-color:white;
    color:rgb(219,76,63);
    border-color:rgb(219,76,63);
}

form {
    margin-top: 6vh;
}
input {
   border-radius:5px;
   width: 96%;
   margin:1.3vh;
   padding: 12px 20px;
   border: 2px solid;
   border-color:rgb(238,238,238);
   text-indent:35px;
}
input.signup {
    text-indent:0px !important;
    background-color:rgb(171,151,242);
    font-weight:bold;
    font-size:23px;
    color:whitesmoke;
    font-family: 'Abel', sans-serif;
}
input::-webkit-input-placeholder {
    color:rgb(121,121,121);
}
input[name="email"] {
    background-image: url(../images/image1.png);
    background-repeat: no-repeat;
    background-position: 6px 11px;
    background-size:32px;

}
input[name='displayname'] {
    background-image: url(../images/image2.png);
    background-repeat: no-repeat;
    background-position: 6px 10px;
    background-size:33px;
}
input[name*='assword'] {
    background-image: url(../images/image3.png);
    background-repeat: no-repeat;
    background-position: 7px 9px;
    background-size:30px;
}
.signupNow {
    color:rgb(67, 0, 134);
    font-size:15px;

}
.loginNow {
    background-color:rgb(171,151,242);
    font-weight:bold;
    font-size:23px;
    color:whitesmoke;
    font-family: 'Abel', sans-serif;
    /* width:35vw; */
    text-indent:0px !important;
}
